
@import "custom";
@import "~bootstrap/scss/bootstrap";

/*
@include media-breakpoint-down(xs) { }
@include media-breakpoint-down(sm) { }
@include media-breakpoint-down(md) { }
@include media-breakpoint-down(lg) { }

@include media-breakpoint-only(xs) {  }
@include media-breakpoint-only(sm) {  }
@include media-breakpoint-only(md) {  }
@include media-breakpoint-only(lg) {  }
@include media-breakpoint-only(xl) {  }

@include media-breakpoint-between(md, xl) {  }
*/

html, body{
    margin: 0;
    padding: 0;
}
a{
    color: #444;
}
a:hover{
    color: #999;
}

/* Site footer and content size */
html{height: 100%;}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    header, footer{
        position: relative;
        flex: 0 0 auto;
    }
    .container{
        flex: 1 0 auto;
    }
}
html.admin-bar
{
    height: calc(100% - 32px);
}
/* section end */


.burger-close{}
.burger-open{}

/***********************************************
// bay_get_burger()
************************************************/

button.burger-button {
    border-width: 0;
    background-color: transparent;
    cursor: pointer;
    div {
        width: 35px;
        height: 4px;
        background-color: #666;
        margin: 7px 0;
    }
}

/************************************************/
// bay_hero_header
/************************************************/

.bay-hero-header{
    margin-top: 75px;
    position: absolute;
    width: 100vw;
    height: calc(100vh - 75px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;        
}
.bay-hero-header::before{
    content: " ";
    position: absolute;
    top: 0;bottom: 0;right: 0;left: 0;
    background-color: black;    
}
.bay-hero-col{
    display: flex;
    width: 100%;
    *{
        color: white;
    }
    .bay-hero-content {
        vertical-align: bottom;
        align-self: flex-end;
        padding: 45px;
        width: 100%;
    }
}


/************************************************/
/**                 header.php                 **/
/************************************************/

header.main{
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.10);
    margin-bottom: 35px;
}

.bay-main-left{
    display: flex;
    
    a.custom-logo-link {
        max-height: 47px;
        display: block; 
        img{
            margin-left: 1.5rem;
            height: 100%;
            width: auto;
        }
        .custom-logo{
            font-size: 2.5em;
            line-height: 1em;
            padding-left: .5em;
            font-weight: 600;
        }
    }
}

.bay-main-navigation{
    padding: 1rem 2rem;
    > div:nth-child(1) {
        flex-grow: 0;
    }
    > div:nth-child(2) {
        flex-grow: 2;
        text-align: center;
    }
    > div:nth-child(3) {
        flex-grow: 0;
    }
}

/************************************************/
//                 parts/content.php            
/************************************************/

.bay-blog-mainlist {
    column-count: 2;
    > article {
        display: block;
        margin-bottom: 1.5rem;
        padding: 1rem 1.5rem;
        border: solid 1px #ccc;
        break-inside: avoid;
        background-color: white;
        box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.05);                
    } 
}
@include media-breakpoint-down(md) { 
    .bay-blog-mainlist{
        column-count: 1;
    }
}
@include media-breakpoint-up(xl) { 
    .bay-blog-mainlist{
        column-count: 3;
    }
}

/************************************************/
//                   single.php
/************************************************/

.bay-single-content-width{
    vertical-align: bottom;
    align-self: flex-end;
    padding: 45px calc(100% - 1200px);
}

/************************************************/
//                   index.php                  
/************************************************/



/************************************************
// bay-drawer
*************************************************/
.admin-bar .bay-drawer{
    top: 32px;
}
.bay-drawer {
    background-color: white;
    border-left: solid 1px #ccc;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.25);
    padding: 1rem 2rem;
    width: 450px;
    transition: left .5s;
    z-index: 1;
    position: fixed;
    top: 0;
    bottom: 0;    
    left: -450px;

    &.bay-drawer-close{} 
    &.bay-drawer-open{
        left: 1px;
        right: auto;
    }

    &.bay-drawer-open .bay-drawer-shadow{
        content: " ";
        position: absolute;
        left: 100%;
        top: 0;
        bottom: 0;
        right: -200vw;
        background-color: black;
        opacity: 0.5;
    }

    .bay-main-left{}    

    nav {
        
        #sidebar{
            margin-top: 2rem;

            ul,
            ul li {
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }        
    }
}

/************************************************/
//                   gutenberg                 
/************************************************/
.alignwide{
    width: 75vw;
    position: relative;
    margin-left: -25vw;
    left: 25%;
    overflow: hidden;
    > img{
        width: 100vw;
        height: auto;
    }
}

.alignfull{
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    > img{
        width: 100vw;
        height: auto;
    }
}



.wp-block-embed{
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    > iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
    &.alignwide{
        padding-top: 83.25%;
    }
    &.alignfull{
        padding-top: 56.25vw;
    }

}


/*
@media (min-width: 750px) {
 
    .alignfull {
        margin-left: calc(50% - 50vw);
        margin-right: calc(50% - 50vw);
        width: auto;
        max-width: 1000%;
    }
 
    .alignwide {
        margin-left: calc(25% - 25vw);
        margin-right: calc(25% - 25vw);
        width: auto;
        max-width: 1000%;
    }
 
}
*/